a {
  color: #000000;
  text-decoration: none;
}
body {
  margin: 20px 0;
  background: #cccccc url(img/bg.gif) repeat-y fixed center bottom;
  color: #333333;
  text-align: center;
  font-family: sans-serif,Arial;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-size: 1em;
  line-height: normal;
  font-size-adjust: none;
  font-stretch: normal;
}
.logo a {
  background: #ffffff url(img/logo.png) no-repeat scroll 0% 50%;
  display: block;
  height: 300px;
}
.header {
  border-bottom: 1px solid #e5e5e5;
  background: #ffffff none repeat scroll 0% 50%;
  font-family: Arial;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  font-size: 2.6em;
  font-size-adjust: none;
  font-stretch: normal;
  line-height: 3em;
}
.main {
  border-style: double;
  border-color: #e4e4e4 #cfcfcf #cccccc;
  border-width: 3px;
  margin: 20px auto 4px;
  background: #ffffff none repeat scroll 0% 50%;
  text-align: left;
  width: 760px;
}
.menu a {
  border-top: 1px solid #e5e5e5;
  border-right: 1px solid #cecece;
  background: #eeeeee none repeat scroll 0% 50%;
  color: #888888;
  float: left;
  padding-top: 4px;
  width: 149px;
  height: 36px;
}
.menu a span {
  padding-left: 6px;
  font-weight: bold;
}
.menu a:hover {
  background: #eeeeee url(img/bgmenu.gif) repeat-x scroll 0% 50%;
  color: #555555;
}
.menu a#last {
  border-right: medium none;
  width: 150px;
}
.container {
  margin: 10px;
}
.content {
  border-top: 1px solid #e5e5e5;
  background: #f5f5f5 none repeat scroll 0% 50%;
  clear: both;
}
.content h1 {
  margin: 0;
  font-family: sans-serif,Arial;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  font-size: 1.1em;
  line-height: normal;
  font-size-adjust: none;
  font-stretch: normal;
  color: #666666;
}
.content p {
  margin: 3px 0 6px;
  color: #666666;
}
.item {
  padding: 10px;
  background: #fcfcfc url(img/bgitem.gif) repeat-x scroll 0% 50%;
}
.footer {
  padding: 5px;
  background: #f5f5f5 none repeat scroll 0% 50%;
  color: #666666;
  text-align: center;
}
.footer p {
  text-align: right;
}
